.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header{
  display: flex;
  flex-direction: row;
  background-color: #282c34;
  color: white;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}
.logo{
  align-items: center;
  width: 15vw;
}
svg{
  width: 100%;
  height: 100%;
}
h1{
  font-size: 2.5rem;
  height: 100%;
}
#AppName{
  display: flex;
  justify-content: center;
  align-items: center;
}
#second-box{
  display: flex;
  width: 15vw;
  justify-content: space-between;
}
#main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
  background-color: #282c34;
}
.box-chats{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 30%;
  height: 100%;
  border: red 1px solid;
}
.chat{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  height: 100%;
}
.individual-chat{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  border: 1px solid #1a1c22;
}
.chat-messages{
  display: flex;
  width: 100%;
  overflow-y: auto;
}
.chat-input{
  display: flex;
  width: 100%;
  height: 35%;
  justify-content: center;
  align-items: center;
  background-color: #1a1c22;
}
.input-container{
  display: flex;
  flex-direction: row;
  width: 90%;
}
.chat-header{
  background-color: #1a1c22;
  width: 100%;
}
.InputMessage{
  width: 100%;
}
.choosable-user {
  font-size: larger;
}
.timestamp {
  font-size: 0.75em;
  color: #888;
  margin-top: 4px;
  text-align: right;
}